<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Adel's Article</title>
</head>

<body id="app" v-if="true">
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="./index.html">Adelia Tresnani</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Portofolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar -->

    <!-- Articles -->
    <section id="articles">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col">
                    <h2>Articles</h2>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4" >
                <div class="col" v-for="items in article">
                    <div class="card h-100">
                        <img v-bind:src="items.thumbnail" class="card-img-top" alt="gambar">
                        <div class="card-body">
                            <h5 class="card-title">{{items.title}}</h5>
                            <p class="card-text">{{items.description}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="./'read.html?article='+items.link">Read More ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#F0D9FF" fill-opacity="1"
                d="M0,32L240,32L480,64L720,32L960,192L1200,32L1440,288L1440,320L1200,320L960,320L720,320L480,320L240,320L0,320Z">
            </path>
        </svg>
    </section>
    <!-- End Articles -->
</body>
    <!-- Footer -->
    <footer class="text-center pb-3" style="background-color: #F0D9FF;">
        <p>Created with <i class="bi bi-heart-fill text-danger"></i> by <a href="http://instagram.com/adelll.t">Adelia
                Tresnani</a></p>
    </footer>
    <!-- End Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.3/showdown.min.js"></script>
<script src="./get_json.js"></script>


</html>