<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Adel's Portofolio</title>
</head>

<body id="app" v-if="true">
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">Adelia Tresnani</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portofolio">Portofolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#articles">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar -->

    <!-- Jumbotron -->
    <section class="jumbotron jumbotron-fluid text-center">

        <img id="profil" v-bind:src="header.imageProfile" alt="Adelia" class="rounded-circle shadow-lg">
        <h1 class="display-4">{{header.title}}</h1>
        <p class="lead">{{header.desc}} </p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#FFFF" fill-opacity="1"
                d="M0,288L240,288L480,96L720,192L960,160L1200,160L1440,96L1440,320L1200,320L960,320L720,320L480,320L240,320L0,320Z">
            </path>
        </svg>
    </section>
    <!-- End Jumbotron -->

    <!-- About -->
    <section id="about">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col">
                    <h2>About Me</h2>
                </div>
            </div>
            <div class="row fs-5">
                <div class="col">
                    <h5 class="fst-italic">{{about}}
                    </h5>
                </div>
            </div>
        </div>
        <section id="skills">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h6>HTML - <i>Advance</i></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br>
                        <h6>CSS - <i>Advance</i></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br>
                        <h6>Java Script - <i>Intermediate</i></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col">
                        <h6>PHP - <i>Intermediate</i></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br>
                        <h6>MySQL - <i>Advance</i></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br>
                        <h6>Microsoft Office - <i>Advance</i></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>


            </div>

            </div>

            </div>
        </section>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#F0D9FF" fill-opacity="1"
                d="M0,32L240,32L480,64L720,32L960,192L1200,32L1440,288L1440,320L1200,320L960,320L720,320L480,320L240,320L0,320Z">
            </path>
        </svg>

    </section>
    <!-- Akhir About -->


    <!-- Portofolio -->
    <section id="portofolio">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col">
                    <h2>Portofolio</h2>
                </div>
            </div>
            <div class="row">
                <div class="col" v-for="item in portofolio">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img v-bind:src="item.image" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.title}}</h5>
                                    <p class="card-text">{{item.desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#FFFF" fill-opacity="1"
                    d="M0,160L240,96L480,160L720,0L960,192L1200,160L1440,32L1440,320L1200,320L960,320L720,320L480,320L240,320L0,320Z">
                </path>
            </svg>
    </section>
    <!-- End Portofolio -->

    <section id="articles">
        <div class="row text-center mb-4">
            <div class="col">
                <h2>Articles</h2>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body" style="border:white;">
                <h5 class="card-title">Click the button to read my article!</h5>
                <a href="articles.html" class="btn btn-primary">Let's Go!</a>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#F0D9FF" fill-opacity="1"
                d="M0,32L240,32L480,64L720,32L960,192L1200,32L1440,288L1440,320L1200,320L960,320L720,320L480,320L240,320L0,320Z">
            </path>
        </svg>

    </section>

    <!-- Contact -->
    <section id="contact">
        <div class="container">
            <div class="row text-center mb-3">
                <div class="col">
                    <h2>Contact Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="info">
                        <div class="instagram">
                            <h5><i class="bi bi-instagram"></i> Instagram:</h5>
                            <p> <a href="http://instagram.com/adelll.t">adellll.t</a></p>
                        </div>
                        <div class="github">
                            <h5><i class="bi bi-github"></i> Github:</h5>
                            <p> <a href="https://github.com/adeliat">Adelia Tresnani</a></p>
                        </div>
                        <div class="linkedin">
                            <h5><i class="bi bi-linkedin"></i> LinkedIn:</h5>
                            <p> <a href="https://www.linkedin.com/in/adelia-tresnani-0566b6179/"> Adelia Tresnani</a></p>
                        </div>
                        <div class="email">
                            <h5><i class="bi bi-envelope"></i> Email:</h5>
                            <p>adeliatresnani188@gmail.com</p>
                        </div>


                        <div class="address">
                            <h5><i class="bi bi-geo-alt"></i> Location:</h5>
                            <p>23 Trunojoyo Street, Ponorogo, East Java, 63414</p>
                        </div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d247.01788662875663!2d111.45991802627312!3d-7.865090776058669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e799f9dac08ce1b%3A0x58fe12f4d17b2075!2sJl.%20Trunojoyo%2C%20Krajan%2C%20Tambakbayan%2C%20Kec.%20Ponorogo%2C%20Kabupaten%20Ponorogo%2C%20Jawa%20Timur%2063413!5e0!3m2!1sen!2sid!4v1648633413923!5m2!1sen!2sid"
                            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="col-lg-7 mt-5 mt-lg-0 align-items-stretch">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6 mb-2">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group mb-2">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="text-center"><input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#FFFF" fill-opacity="1"
                d="M0,160L240,224L480,64L720,160L960,96L1200,128L1440,224L1440,320L1200,320L960,320L720,320L480,320L240,320L0,320Z">
            </path>
        </svg>
    </section>
    <!-- End Contact -->

    <!-- Footer -->
    <footer class="text-center pb-3">
        <p>Created with <i class="bi bi-heart-fill text-danger"></i> by <a href="http://instagram.com/adelll.t">Adelia
                Tresnani</a></p>
    </footer>
    <!-- End Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./main.js"></script>

</body>

</html>