
.navbar {
    background-color: #BFA2DB;
    color: #5e5c61;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #F0D9FF;
    color: #5e5c61;
}

#about {
    color: #5e5c61;
}

#portofolio {
    background-color: #F0D9FF;
    color:#5e5c61;
}

.col-md-8 {
    background-color: #F3F1F5;
}

#contact {
    color: #5e5c61;
}

footer {
    background-color: #BFA2DB;
    color: #5e5c61;
    
}